<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/layout.css' />
  </head>
   <header>
           <img src="/images/indice.png" alt="pc"/>
            <h1>MSC-Sistemas</h1>  
    </header>
  <body>
    {{{body}}}
  </body>
  <div>
    <footer>
        <p>Todos los derechos reservados - &copy;
            Buenos Aires - Argentina
            </p> 
        </footer>
   </div>
</html>

