.cuadrado{display: flex;width: 600px;height: 600px;background-color: white;border: 2px solid;
    align-items: flex-end;flex-direction: column;}

.numeros{display: flex;width: 200px;height: 200px;color: white;justify-content: center;align-items: center;}

.numeros:nth-child(1){background-color: red;}
.numeros:nth-child(2){background-color: blue;}
.numeros:nth-child(3){background-color: green;}