<h1>{{title}}</h1>
{{#if seguro}}
<p>La Contrase単a : {{Contrase単a}} es segura <a href="/salir">salir</a></p>
{{/if}}

{{#unless seguro}}
<p>La contrase単a no cumple con las normas de seguridad</p>
<form action="/ingresar" method="post">
<input type="text" name="Contrase単a"><button>ingresar</button>
</form>
{{unless}}