h1{ color:cadetblue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h3{color: darkgreen;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;}

#negro {background-color:cadetblue;color: white;font-style: bold;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h4{font-style: italic;text-decoration: underline;}

li{color: red;}

h5{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}