@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Secular+One&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

h1{font-family: 'Secular One', sans-serif;
    font-family: 'Source Code Pro', monospace;}

header{background-color: darkorchid;padding: 20px;} 

header h1{display: inline-block;position: absolute;margin-left: 15px;color: white ;}

header img{width: 80px;height: 80px;border-radius: 50%;}

/* nav{width: 250px;height: stretch ;background-color: darkorchid;display: flex;flex-direction: column;} */

nav{
    box-sizing: border-box;
    width: 200px;
    display: inline-block;
    position:fixed; padding-top: 30px;background-color: darkorchid;
    height:100vh;   
    }

nav ul li {list-style: none;padding-top: 25px;padding-bottom: 25px;overflow: hidden;}

nav ul li:hover{background-color: mediumpurple;}

a{ color: white; font-family: 'Press Start 2P', cursive;font-size: 8pt;}


footer{text-align: center;height: 50px; display: flex;flex-direction: column;
    justify-content: center;background-color:black;color: white;
    font-family: 'Baloo Tammudu 2';position: relative;}

